* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.header-image {
  background: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center bottom -5.625rem;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(41, 45, 51, 0.75);
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 2;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 4.5rem;
}

.logo-svg {
  width: 9rem;
  height: 2.75rem;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.navbar-light .header-nav-link,
.navbar-light .header-phone-link {
  color: #292d33;
}

.header {
  padding-top: 5.875rem;
  min-height: 100vh;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  list-style: none;
  flex-wrap: nowrap;
  gap: 3.125rem;
  padding: 0 3.125rem;
  flex: 1;
}

.header-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}

.header-nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

.header-phone {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
}

.header-phone-link {
  color: #fff;
  text-decoration: none;
}

.button {
  background: #3a71d1;
  color: #fff;
  padding: 1.5625rem 3.875rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.875rem;
}

.header-button {
  height: 100%;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue Regular";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.4375rem 0;
}

.header-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
  padding: 0.9375rem 0.0625rem;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
}

.separator {
  width: 9.375rem;
  height: 0.125rem;
  background: #5c8ee6;
}

.header-features-item {
  padding: 2.5rem 3.125rem;
  width: 18rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.header-button {
  padding: 0.9375rem 4.375rem;
}

.header-features-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.125rem;
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
  position: relative;
}

.section-title {
  font-family: "Bebas Neue Regular";
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
  padding: 1.0625rem 0.125rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 1.25rem 0;
  gap: 1.875rem;
}

.steps-item {
  max-width: 20.625rem;
}

.steps-num {
  font-family: "Bebas Neue Regular";
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
  padding: 0.5625rem 0;
}

.steps-num::after {
  content: "";
  height: 0.0625rem;
  background: #ebebf0;
  width: 100%;
  margin-left: 1.875rem;
}

.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
}

.steps-link:before {
  content: "";
  height: 0.0625rem;
  background: #5c8ee6;
  width: 2.5rem;
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }

  .header-image {
    background-position: center;
  }
}
