* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header-image {
  background: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center bottom -90px;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(41, 45, 51, 0.75);
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 74px;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.navbar-light .header-nav-link,
.navbar-light .header-phone-link {
  color: #292d33;
}

.header {
  padding-top: 94px;
  min-height: 100vh;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  list-style: none;
  flex-wrap: nowrap;
  gap: 50px;
  padding: 0 50px;
  flex: 1;
}

.header-nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.header-phone {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.header-phone-link {
  color: #fff;
  text-decoration: none;
}

.button {
  background: #3a71d1;
  color: #fff;
  padding: 25px 62px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 25px 62px;
}

.header-button {
  height: 100%;
}

.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue Regular";
  font-size: 80px;
  line-height: 120%;
  margin: 23px 0;
  /* margin: 30px 0;
  letter-spacing: 0.8px;
  word-spacing: -1.6px; */
}

.header-text {
  max-width: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
  padding: 15px 1px;
}

.header-features {
  display: flex;
  min-height: 168px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  color: #fff;
  position: relative;
}

.separator {
  width: 150px;
  height: 2px;
  background: #5c8ee6;
}

.header-features-item {
  padding: 40px 50px;
  width: 288px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.header-button {
  padding: 15px 70px;
  /* margin-top: 25px; */
}

.header-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 18px;
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.section {
  margin-top: 150px;
  margin-bottom: 150px;
  position: relative;
}

.section-title {
  font-family: "Bebas Neue Regular";
  font-size: 60px;
  line-height: 120%;
  color: #292d33;
  padding: 17px 2px;
}

.steps {
  display: flex;
  list-style: none;
  padding: 20px 0;
  gap: 30px;
}

.steps-item {
  max-width: 330px;
}

.steps-num {
  font-family: "Bebas Neue Regular";
  font-size: 48px;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
  padding: 9px 0;
}

.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 30px;
}

.steps-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  color: #292d33;
  margin-top: 30px;
  margin-bottom: 10px;
}

.steps-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  margin-top: 10px;
  margin-bottom: 20px;
}

.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5c8ee6;
}

.steps-link:before {
  content: "";
  height: 1px;
  background: #5c8ee6;
  width: 40px;
}
