* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "Bebas Neue Regular";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
}

.mobile-menu {
  display: none;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.header-image {
  background: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center bottom -5.625rem;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(41, 45, 51, 0.75);
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 2;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: #292d33;
  height: 4.5rem;
}

.logo-svg {
  width: 9rem;
  height: 2.75rem;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}

.navbar-light .header-nav-link,
.navbar-light .header-phone-link {
  color: #292d33;
}

.header {
  padding-top: 5.875rem;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  list-style: none;
  flex-wrap: nowrap;
  gap: 3.125rem;
  padding: 0 3.125rem;
  flex: 1;
}

.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  position: relative;
}

.header-nav-link:after {
  content: "";
  width: 0px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  height: 2px;
  transition: width 0.2s;
  right: 0;
  left: auto;
}

.header-nav-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}

.header-phone {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.125rem;
}

.header-phone-link {
  color: #fff;
  text-decoration: none;
}

.button {
  background: #3a71d1;
  color: #fff;
  padding: 1.5625rem 3.875rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 3.875rem;
}

.navbar-button .button-icon {
  display: none;
}

.header-button {
  height: 100%;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue Regular";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.4375rem 0;
}

.header-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
  padding: 0.9375rem 0.0625rem;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
}

.separator {
  width: 9.375rem;
  height: 0.125rem;
  background: #5c8ee6;
}

.header-features-item {
  padding: 1.75rem 3.125rem;
  min-height: 100%;
  width: 18rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.slider-buttons {
  display: flex;
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-button {
  padding: 0.9375rem 4.375rem;
}

.header-features-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.125rem;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
  position: relative;
}

.section-title {
  font-family: "Bebas Neue Regular";
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
  padding: 1.0625rem 0.125rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}

.steps-item {
  max-width: 20.625rem;
}

.steps-num {
  font-family: "Bebas Neue Regular";
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
  padding: 0.5625rem 0;
}

.steps-num::after {
  content: "";
  height: 0.0625rem;
  background: #ebebf0;
  width: 100%;
  margin-left: 1.875rem;
}

.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}

.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}

.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
}

.button-link:before {
  content: "";
  height: 0.0625rem;
  background: #5c8ee6;
  width: 2.5rem;
  margin-right: 1rem;
  transition: width 0.2s;
}

.button-link:hover:before {
  width: 60px;
}

.primary-buttons-wrapper {
  display: flex;
  height: 60px;
  justify-content: flex-end;
}

.primary-button-prev,
.primary-button-next {
  background: #5c8ee6;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.steps-buttons {
  display: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-decoration: none;
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  position: relative;
  transition: border 0.2s;
}

.card:hoover .card-title {
  color: #5c8ee6;
}

.card:hover {
  border-color: #5c8ee6;
}

.card-content {
  padding: 2.5rem 3.125rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
  color: #292d33;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
}

.card-text {
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-bottom: 24.625rem;
}

.card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 90%;
}

.trademark-cards {
  display: flex;
}

.trademark-card {
  flex-basis: 50%;
  border: 1px solid #ebebf0;
  text-decoration: none;
  transition: border 0.2s;
  padding: 3.125rem;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 2fr;
  grid-column-gap: 3.125rem;
  grid-template-areas:
    "logo title title"
    "logo text text";
}

.trademark-card-logo {
  width: 100%;
  fill: #828a99;
  grid-area: logo;
}

.trademark-card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  grid-area: title;
  margin: 0;
}

.trademark-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  grid-area: text;
  margin-top: 0.625rem;
}

.trademark-card:hover {
  border-color: #5c8ee6;
}

.trademark-card:hover .trademark-card-logo {
  fill: #5c8ee6;
}

.trademark-card:hover .trademark-card-title {
  color: #5c8ee6;
}

.founder {
  min-height: 41.25rem;
  position: relative;
}

.founder-photo {
  position: absolute;
  left: 0;
  width: 40%;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.founder-content {
  max-width: 45rem;
}

.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}

.founder-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
}

.clients-wrapper {
  display: flex;
  gap: 3.125rem;
}

.clients-content {
  flex-basis: 50%;
}

.clients-list {
  list-style-type: none;
  padding: 0;
  columns: 2 auto;
}

.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;
  margin-bottom: 1.2rem;
}

.clients-logo-list {
  flex-shrink: 10;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.9rem;
}

.clients-logo-item {
  flex-basis: 33%;
  min-height: 10rem;
  border: 1px solid #ebebf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.clients-logo-item:hover {
  filter: grayscale(0%);
}

.clients-logo {
  max-width: 100%;
  width: 70px;
  height: 70px;
}

.blog-card {
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 3.125rem;
}

.blog-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 45, 51, 0.6);
  z-index: -1;
}

.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.blog-card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  margin-bottom: 10px;
  margin-top: 0;
}

.blog-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}

.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-between;
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }

  .header-image {
    background-position: center;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
  .header-logo {
    padding: 2rem;
  }

  .header-logo {
    padding: 2rem;
  }

  .phone-icon {
    fill: #5c8ee6;
  }

  .logo-svg {
    max-width: 6rem;
  }

  .header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    padding-left: 3.125rem;
    margin: 0;
    height: 100%;
  }

  .header-nav-item {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 4%;
  }

  .header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    margin-right: 3.125em;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 70rem;
  }

  .header-phone {
    display: none;
  }

  .navbar {
    height: 5.8rem;
  }

  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .slider-buttons {
    display: flex;
  }

  .primary-buttons-wrapper {
    height: 40px;
  }

  .primary-button-prev,
  .primary-button-next {
    width: 60px;
  }

  .steps-buttons {
    display: flex;
  }

  .card {
    flex-basis: 50%;
  }

  .trademark-card {
    grid-template-columns: auto auto;
  }

  .founder-content {
    max-width: 35rem;
  }

  .clients-content {
    flex-basis: 60%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 0.75rem;
  }

  .header-image {
    background-position: center;
  }

  .container {
    max-width: 60rem;
  }

  .header-nav {
    display: none;
  }

  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }

  .logo-svg {
    max-width: 10rem;
  }

  .navbar-button {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3rem 2.5rem;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }

  .navbar-light .mobile-menu-line {
    background-color: #333;
  }

  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }

  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }

  .navbar-button .button-text {
    display: none;
  }

  .navbar-button .button-icon {
    display: block;
    fill: #fff;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }

  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }

  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .mobile-submenu {
    list-style-type: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }

  .mobile-submenu-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 160%;
    color: #828a99;
  }

  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .mobile-info-address,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }

  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }

  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }

  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }

  .trademark-cards {
    flex-direction: column;
  }

  .clients-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }

  .header-title {
    font-size: 4rem;
  }

  .header-content {
    padding-top: 4rem;
  }

  .card {
    flex-basis: 100%;
  }

  .founder-content {
    position: relative;
    width: 100%;
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  .header-title {
    font-size: 2rem;
  }

  .header-content {
    padding-top: 2rem;
  }

  .trademark-card {
    grid-template-areas:
      "logo title"
      "text text";
  }

  .clients-list {
    columns: 1;
  }

  .clients-logo-item {
    flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 0.875rem;
  }

  .header-title {
    font-size: 4rem;
    line-height: 110%;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .navbar-button {
    padding: 1rem;
  }

  .button {
    padding: 1rem 2rem;
    font-size: 0.875rem;
  }

  .clients-logo-item {
    flex-basis: 100%;
  }
}
